.specialButton {
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  background: #e1e1e1;
  box-shadow: 0 0 2px black, inset 0 0 20px white;
  transition: top 0.5s ease-in-out 0.8s, left 0.5s ease-in-out 0.8s,
    box-shadow 0.2s ease-in-out, background .2s ease-in-out;
}

.twoDigits {
    padding: 10px 11px;
}

.specialButton:hover {
  box-shadow: 0 0 4px black, inset 0 0 20px white;
  cursor: pointer;
}
