
main {
  min-height: 90vh;
  padding: 1em;
}

footer {
  background: lightcoral;
  color: white;
  padding: 1em;
}


a {
  text-decoration: none;
  padding: 1em;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  margin-right: 1em;
  transition: .2s ease-in-out;
  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }

}


.containerX {
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  display: table-cell;
}
/* 1em == 16px */
@media only screen and (min-width: 48em) {
  .containerX {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media only screen and (min-width: 64em) {
  .containerX {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 75em) {
  .containerX {
    padding-left: 7em;
    padding-right: 7em;
  }
}



.box {
  background-color: green;
}
