.containerX {
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  display: table-cell;
}
/* 1em == 16px */
@media only screen and (min-width: 48em) {
  .containerX {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media only screen and (min-width: 64em) {
  .containerX {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 75em) {
  .containerX {
    padding-left: 7em;
    padding-right: 7em;
  }
}



.box {
  background-color: green;
}
